<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- <meta http-equiv="content-type" content="text/html; charset=UTF-8" > -->
	{% if seo %}
		{{ seo }}
	{% else %}
		{{ default_seo }}
	{% endif %}
	{% block css %}
		<link type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.20.custom.css" rel="stylesheet">
	{% endblock css %}
	{% block javascript %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.20.custom.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.datepicker-ru.js"></script>
	{% endblock javascript %}
	{% block extra_header %}
	{% endblock extra_header %}
</head>
<body>
{% block user_info %}
	{% if user.is_authenticated %}
		Вы вошли под именем <a href="{% url 'profile' %}">{{ user.username }}</a>
		<a href="{% url 'django.contrib.auth.views.logout' %}">Выйти</a>
		<a href="http://pilatus.biz/forum2/">Форум</a>
	{% else %}
		<a href="{% url 'django.contrib.auth.views.login' %}">Войти</a>
		<a href="{% url 'django.contrib.auth.views.password_reset' %}">Забыли пароль?</a>
		<a href="{% url 'registration_register' %}">Зарегистрироваться</a>
	{% endif %}
	<a href="{% url 'recipe-add' %}">Добавить рецепт</a>
	<a href="{% url 'recipe_list' %}">Рецепты</a>
{% endblock user_info %}

{% block categories %}
	<h1>Категории</h1>
	<ul>
		{% for category in category_list %}
		<li><a href="{% url 'category_details' category.slug %}">{{ category.title }}</a></li>
		{% endfor %}
	</ul>
{% endblock categories %}
<p>
	{% block breadcrumbs %}
		<a href="{% url 'home' %}">Главная</a>
	{% endblock breadcrumbs %}
</p>

{% block messages %}
	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
	{% endif %}
{% endblock messages %}
{% block content %}
{% endblock %}
{% block extra_js %}
{% endblock extra_js %}
</body>
</html>
