{% extends 'cake_base.html' %}
{% load vote_tags comment_tags widget_tweaks %}

{% block content %}
<div class="cont-in">
	<div class="title">
			<div class="soc-icons">
				<a href="#"><img src="{{STATIC_URL}}cake/images/ico5.png" alt=""/></a>
				<a href="#"><img src="{{STATIC_URL}}cake/images/ico6.png" alt=""/></a>
				<a href="#"><img src="{{STATIC_URL}}cake/images/ico7.png" alt=""/></a>
			</div>
			<span class="element-one"></span>
			<h1>МАСТЕР КЛАССЫ</h1>
			<span class="element-two"></span>
	</div>
	<div class="block-tabs">
		<div class="block-tabs-top">
				<div class="block-search">
					<div class="search">
						<form id="search_form" method="get" action="{% url 'get_cake_mc' '+q+' '' '' '' 1%}">
							{{search_form.q|attr:"class:search-text"}}
							<!--<input type="text" class="search-text" placeholder="Ищите масстер класс по названию или ингредиенту"/>-->
							<input type="submit" class="search-submit" value=""/>
						</form>
					</div>
					<div class="search-bottom">
						<a href="#" class="search-bottom-row">
								<img class="search-bottom-img" src="{{STATIC_URL}}cake/images/search-img.jpg" alt=""/>
							<span class="search-bottom-text">
								<b>Шоколадный торт с журнавлиной</b>
								<em>Елена Руденко</em>
							</span>
						</a>
						<a href="#" class="search-bottom-row">
								<img class="search-bottom-img" src="{{STATIC_URL}}cake/images/search-img.jpg" alt=""/>
							<span class="search-bottom-text">
								<b>Шоколадный торт с журнавлиной</b>
								<em>Елена Руденко</em>
							</span>
						</a>
					</div>
				</div>
				<ul class="tabs">
					<li><a class="tab1 current"><i>По</i> <big>КатегориЯМ</big></a></li>
					<li><a class="tab2"><i>По</i> <big>ингредиентам</big></a></li>
				</ul>
				<span class="or"></span>
			</div>
		<div class="block-tabs-center" style="display:block;">				
				<div class="panes">
					<div class="pane1" style="display:block;">
						<ul class="panel-tabs-lists">
							<li cat='' class="choose active"><a class="cake_mc_filter" href="{% url 'get_cake_mc' '' '' '' '' 1 %}">Все мастер классы</a></li>
							{% for cati in category_list %}
								<li cat='{{cati.slug}}' class="choose"><a class="cake_mc_filter" href="{% url 'get_cake_mc' '' cati.slug '' '' 1 %}">{{cati.title}}</a></li>
							{% endfor %}							
						</ul>
					</div>
					<div class="pane2">
						<ul class="panel-tabs-lists">
							<li ing='' class="choose active"><a class="cake_mc_filter" href="{% url 'get_cake_mc' '' '' '' '' 1%}">Все ингредиенты</a></li>
							{% for ingi in ingredient_list %}												
								<li ing="{{ingi.ndb_no}}" class="choose"><a class="cake_mc_filter" href="{% url 'get_cake_mc' '' '' ingi.ndb_no '' 1%}">{{ingi.name_rus}}</a></li>
							{% endfor %}							
						</ul>
					</div>
				</div>
			
		</div>
	</div>
	
	<div id="ajax_res">

		{% include 'master_class/search_result.html' %}

	</div>
</div>
<script type="text/javascript">
$(function(){
	$("#search_form").live("submit", function(evnt){
			var form = $(this);
            evnt.preventDefault();            
            form_url = form.attr('action');
            q = form.find("input").val();      
            form_url = form_url.replace('+q+', q);
            $.get(form_url, function(data){            
                if (data.status == 'error' || data.status == "validation_error"){
                    alert(data.message);
                }
                else{
                    $("#ajax_res").html(data);                
                }
            });
	});
	
});
</script>
{% endblock %}
