{% load static %}

<div class="pagenavi">
    <a {% if part_list.has_previous %}href="?part={{ part_list.previous_page_number }}&page={{ prev_base_page }}&per_page={{ objects_per_page }}"{% endif %} class="prev {% if not part_list.has_previous %}disabled{% endif %}">Назад</a>
    {% for p in part_list%}
        {% if p != object_list.number %}
            <a href="?part={{ part_list.number }}&page={{ p }}&per_page={{ objects_per_page }}">{{ p }}</a>
        {% else %}
            <span class="current">{{ p }}</span>
        {% endif %}
    {% endfor %}
    {% if object_list.has_next %}
        <a href="?part={% if object_list.next_page_number == next_base_page %}{{ part_list.next_page_number }}{% else %}{{ part_list.number }}{% endif %}&page={{ object_list.next_page_number }}&per_page={{ objects_per_page }}"><img src="{% static 'images/arr-next.jpg' %}" alt=""/></a>
    {% endif %}
    <a {% if part_list.has_next %}href="?part={{ part_list.next_page_number }}&page={{ next_base_page }}&per_page={{ objects_per_page }}"{% endif %} class="next {% if not part_list.has_next %}disabled{% endif %}">Следующие</a>
</div>