<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head>
        <title>Tortodely</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="./css/main.css" type="text/css"/>
        <link rel="stylesheet" href="./css/scrollable-horizontal.css" type="text/css"/>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="js/jquery-1.8.2.js"></script>
		<!--[if lt IE 9]><script src="js/css3-mediaqueries.js"></script><![endif]-->
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<script type="text/javascript" src="http://cdn.jquerytools.org/1.2.7/all/jquery.tools.min.js"></script>
		<script src="js/jquery.dd.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="css/dd.css" />
		<script type="text/javascript" src="js/jquery.fancybox.js"></script>
		<link rel="stylesheet" type="text/css" href="css/jquery.fancybox-thumbs.css?v=1.0.7" />
		<script type="text/javascript" src="js/jquery.fancybox-thumbs.js?v=1.0.7"></script>
		<script type="text/javascript" src="js/custom.js"></script>
    </head>
    <body>
        <div id="container"> 
            <header id="header">
				<div class="cont-in">
					<div class="top-search">
						<a href="#" class="ful-s">Расширенный поиск</a>
						<input type="submit" value="НАЙТИ" class="s-btn"/>
						<input type="text" class="s-text"/>
					</div>
					<div class="top">
						<span class="tortod">Тортоделы</span>
						<a class="povar" href="#">Повары</a>
						<ul class="tul-right">
							<li class="vhod"><a href="#" >Войти</a></li>
							<li class="regis"><a href="#">Зарегистироватся</a></li>
						</ul>
						<ul class="tul-left">
							<li class="add"><a href="#">Добавить</a>
								<ul>
									<li><a href="#">Рецепт</a></li>
									<li><a href="#">Мастер класс</a></li>
									<li><a href="#">Фото</a></li>
								</ul>
							</li>
						</ul>
						<a href="javascript:void(0)" class="search-link">Поиск</a>
					</div>
					<a href="#" id="logo"></a>
					<nav class="nav">
						<ul class="right">
							<li><a href="#">ЭНЦИКЛОПЕДИЯ</a></li>
							<li><a href="#">Конкурсы</a></li>
							<li><a href="#">фотогалерея</a></li>
							<li><a href="#">Форум</a></li>
						</ul>
						<ul class="left">
							<li><a href="#">Рецепты</a></li>
							<li class="parent">
								<a href="#">Мастер класСы</a>
								<ul>
									<li><a href="#">ПУНКТ 1</a></li>
									<li><a href="#">ПУНКТ 2</a></li>
									<li><a href="#">ПУНКТ 3</a></li>
								</ul>
							</li>
							<li><a href="#">События</a></li>
							<li><a href="#">мастера</a></li>
						</ul>
					</nav>	
				</div>
			</header>		
            <div id="wrapper">
				<div class="cont-in">
					<div class="content">
					<div class="title"><span class="element-one"></span><h1>Торт "Праздничный" с вертикальными полосками</h1><span class="element-two"></span></div>
						<div class="center">
							<div class="white">
								<div class="div-center-big">
									<img src="images/img7.jpg" alt="" class="b-img"/>
									<div class="center-big-bottom">
										<a href="#" class="social-links1"><img src="images/social-links.jpg" alt=""/></a>
										<a href="#" class="social-links2"><img src="images/social-links2.jpg" alt=""/></a>
										<div class="round-block">
											<a href="#" class="like">245</a>
											<div class="loked2">1032</div>
											<div class="com">25</div>
										</div>
									</div>
								</div>
								<div class="em">Торт «Шоколадка» может заменить любую покупную шоколадку или печенье в шоколаде. А если закрыть глаза и откусить кусочек торта, то по вкусу он напоминает конфету «Чернослив в шоколаде».</div>
								<div class="ingridient">
									<div class="title"><span class="left"></span><h2>ИНГЕРДИЕНТЫ</h2><span class="right"></span></div>
									<div class="ingrid-block">
										<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
										<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
										<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
										<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
									</div>
									<div class="ingrid-block">
										<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
										<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
										<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
										<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
									</div>									
								</div>
								<div class="hidden-ingr"><div class="cont-in">
									<div class="ing-top">
										<a href="#" class="go-top"><img src="images/top.png" alt=""/></a>
										<h3>ИНГЕРДИЕНТЫ</h3>
										<div class="steps">
											<span>Шаги</span>
											<a href="#section1" class="scroll">1</a>
											<a href="#section2" class="scroll">2</a>
											<a href="#section3" class="scroll">3</a>
										</div>
									</div>
									<div class="ingridient">
										
										<div class="ingrid-block">
											<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
											<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
											<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
											<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
										</div>
										<div class="ingrid-block">
											<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
											<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
											<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
											<div class="ingrid-line-block"><b>200 г</b><a href="#">Сливочное масло <em>(лучше Олейна)</em></a></div>
										</div>
										<a href="javascript:void(0);" class="close-arrow"></a>
									</div>
								</div></div>
								<div class="post">
									<section id="section1" class="section">
										<div class="title"><span class="left"></span><div class="number">1</div><span class="right"></span></div>
										<img src="images/img8.jpg" alt="" class="post-img"/>
										<div class="posit-in">
											<p>Для приготовления торта возьмите 3 яйца взбейте с 1 стаканом сахара, добавьте 1 ч. л. соды, погашенную уксусом, 8 ст.л. мaеда, 2 стакана муки.</p>
											<p>Торт «Шоколадка» может заменить любую покупную шоколадку или печенье в шоколаде. А если закрыть глаза и откусить кусочек торта, то по вкусу он напоминает конфету «Чернослив в шоколаде».</p>
										</div>
									</section>
									<section id="section2" class="section">
										<div class="title"><span class="left"></span><div class="number">2</div><span class="right"></span></div>
										<img src="images/img8.jpg" alt="" class="post-img"/>
										<div class="posit-in">
											<p>Для приготовления торта возьмите 3 яйца взбейте с 1 стаканом сахара, добавьте 1 ч. л. соды, погашенную уксусом, 8 ст.л. мaеда, 2 стакана муки.</p>
											<p>Торт «Шоколадка» может заменить любую покупную шоколадку или печенье в шоколаде. А если закрыть глаза и откусить кусочек торта, то по вкусу он напоминает конфету «Чернослив в шоколаде».</p>
										</div>
										<div class="posit-in">
											<blockquote>
												<span>Заметка автора</span>
												<em>Очень важно вовремя залить теплые коржи медом</em>
											</blockquote>
											<p>Торт «Шоколадка» может заменить любую покупную шоколадку или печенье в шоколаде. А если закрыть глаза и откусить кусочек торта, то по вкусу он напоминает конфету «Чернослив в шоколаде».</p>
										</div>
									</section>
									<section id="section3" class="section">
										<div class="title"><span class="left"></span><div class="number">3</div><span class="right"></span></div>
										<img src="images/img8.jpg" alt="" class="post-img"/>
										<div class="posit-in">
											<p>Для приготовления торта возьмите 3 яйца взбейте с 1 стаканом сахара, добавьте 1 ч. л. соды, погашенную уксусом, 8 ст.л. мaеда, 2 стакана муки.</p>
											<p>Торт «Шоколадка» может заменить любую покупную шоколадку или печенье в шоколаде. А если закрыть глаза и откусить кусочек торта, то по вкусу он напоминает конфету «Чернослив в шоколаде».</p>
										</div>
									</section>
									
								</div>
								<div class="social-block-links">
									<div class="block-links-title">Приятного апетита</div>
									<div class="center-big-bottom">
										<a href="#" class="social-links1"><img src="images/social-links.jpg" alt=""/></a>
										<a href="#" class="social-links2"><img src="images/social-links2.jpg" alt=""/></a>
										<div class="center-link">
											<div class="loked2">1032</div>
											<div class="com">25</div>
										</div>
									</div>
								</div>
								<div class="tegs">
									<div class="tags-title"><span>Теги</span></div>
									<ul>
										<li><a href="#">Мотиватор</a>,</li>
										<li><a href="#">Магнит</a>,</li>
										<li><a href="#">Сергей галицкий</a>,</li>
										<li><a href="#">Юрий чередниченко</a>,</li>
										<li><a href="#">Азбука вкуса</a>,</li>
										<li><a href="#">Магнолия</a></li>
									</ul>
								</div>
							</div>
							<div class="title title-sm"><span class="element-one"></span><h3>ЛУЧШИЕ ШОКЛОДНЫЕ МАСТЕР КЛАССЫ</h3><span class="element-two"></span></div>
								<div class="boxes">
									<div class="box">
										<a class="box-img" href="#">
											<img src="images/img16.jpg" alt=""/>
											<span class="box-title"><span class="box-pad">Шоколадный торт с журнавлиной</span></span>
											<b class="fade"></b>
										</a>
										<div class="box-bot">
											<a href="#" class="num-like">22</a>
											<a href="#" class="num-comm">32</a>
											<a href="#" class="autor"><img src="images/autor.jpg" alt="" class="a-img"/><span class="a-name">Елена Руденко</span></a>
										</div>
									</div>
									<div class="box">
										<a class="box-img" href="#">
											<img src="images/img15.jpg" alt=""/>
											<span class="box-title"><span class="box-pad">Шоколадный торт с журнавлиной</span></span>
											<b class="fade"></b>
										</a>
										<div class="box-bot">
											<a href="#" class="num-like">22</a>
											<a href="#" class="num-comm">32</a>
											<a href="#" class="autor"><img src="images/autor.jpg" alt="" class="a-img"/><span class="a-name">Елена Руденко</span></a>
										</div>
									</div>
									<div class="box">
										<a class="box-img" href="#">
											<img src="images/img17.jpg" alt=""/>
											<span class="box-title"><span class="box-pad">Торт празничный с шоколадной помадкой и кокосовй стружкой</span></span>
											<b class="fade"></b>
										</a>
										<div class="box-bot">
											<a href="#" class="num-like">22</a>
											<a href="#" class="num-comm">32</a>
											<a href="#" class="autor"><img src="images/autor.jpg" alt="" class="a-img"/><span class="a-name">Елена Руденко</span></a>
										</div>
									</div>
								</div>
								<div class="title title-sm"><span class="element-one"></span><h3>4 Коментария</h3><span class="element-two"></span><a href="#ad-com" class="add-commen">Добавить коментарий</a></div>
								<div class="comment">
									<div class="comm">
										<a href="#" class="c-img"><img src="images/autor.jpg" alt=""/></a>
										<a href="#" class="comm-text">
											<span class="c-title">Елена Руденко</span><span class="c-date">2 часа назад</span>
											<span class="c-text">Помогите с коржами, никак не могу сделать их более мягкими...</span>
										</a><a href="#" class="ansver">Ответить</a>	
											<b class="corn"></b>
									</div>
									<div class="comm">
										<a href="#" class="c-img"><img src="images/autor.jpg" alt=""/></a>
										<a href="#" class="comm-text">
											<span class="c-title">Елена Руденко</span><span class="c-date">2 часа назад</span>	
											<span class="c-text">Помогите с коржами, никак не могу сделать их более мягкими...</span>
										</a><a href="#" class="ansver">Ответить</a>
											<b class="corn"></b>
									</div>
									<div class="comm">
										<a href="#" class="c-img"><img src="images/autor.jpg" alt=""/></a>
										<a href="#" class="comm-text">
											<span class="c-title">Елена Руденко</span><span class="c-date">2 часа назад</span>
											<span class="c-text">Помогите с коржами, никак не могу сделать их более мягкими...</span>
										</a><a href="#" class="ansver">Ответить</a>	
											<b class="corn"></b>
											<div class="comm">
												<a href="#" class="c-img"><img src="images/autor.jpg" alt=""/></a>
												<a href="#" class="comm-text">
													<span class="c-title">Елена Руденко</span><span class="c-date">2 часа назад</span>	
													<span class="c-text">Помогите с коржами, никак не могу сделать их более мягкими...</span>
												</a><a href="#" class="ansver">Ответить</a>
													<b class="corn"></b>
											</div>
									</div>
									<div class="comm">
										<a href="#" class="c-img"><img src="images/autor.jpg" alt=""/></a>
										<a href="#" class="comm-text">
											<span class="c-title">Елена Руденко</span><span class="c-date">2 часа назад</span>
											<span class="c-text">Помогите с коржами, никак не могу сделать их более мягкими...</span>
										</a>	<a href="#" class="ansver">Ответить</a>
											<b class="corn"></b>
									</div>
								</div>
								<div class="add-comment">
									<a href="#" id="ad-com"></a>
									<div class="add-comment-title">Добавте коментарий</div>
									<a href="#" class="c-img"><img src="images/nophoto.jpg" alt=""/></a>
									<form>
										<div class="add-comment-form">
											<div class="form-row">
												<div class="form-div">
													<input type="text" class="com-text1" placeholder="Ваше имя"/>
												</div>
												<div class="form-div">
													<input type="text" class="com-text2" placeholder="Ваш email"/>
												</div>
											</div>
											<div class="form-row">
												<textarea class="textarea-com" placeholder="Текст коментария"></textarea>
											</div>
										</div>
										<input type="submit" class="com-submit" value="Отправить"/>
									</form>
									<b class="corn"></b>
								</div>
						</div>
						<div class="sidebar">
							<div class="athor">
								<div class="title">
									<span class="left"></span>
									<h3>АВТОР</h3>
									<span class="right"></span>
								</div>
								<div class="athor-block">
									<div class="athor-foto">								
										<img src="images/img9.jpg" alt=""/>
									</div>
									<div class="name-athor">Елена Руденко</div>
									<div class="info-athor">
										<em>2 рецепта</em><em>3 мастер класса</em>
									</div>
									<a href="#" class="link">Следовать</a>
									<a href="#" class="link">НАПИСАТЬ</a>
								</div>
								<div class="comathor">
									<div class="comathor-title">ЕЩЕ ОТ АВТОРА</div>
									<p><a href="#">Торт празничный с полосками</a></p>
									<p><a href="#">Как сделать футбольный мяч с крема</a></p>
									
								</div>
							</div>
							<div class="mk">
								<div class="mk-title">Похожие МК</div>
								<div class="box">
									<a class="box-img" href="#">
										<img src="images/img15.jpg" alt=""/>
										<span class="box-title"><span class="box-pad">Шоколадный торт с журнавлиной</span></span>
										<b class="fade"></b>
									</a>
									<div class="box-bot">
										<a href="#" class="num-like">22</a>
										<a href="#" class="num-comm">32</a>
										<a href="#" class="autor"><img src="images/autor.jpg" alt="" class="a-img"/><span class="a-name">Елена Руденко</span></a>
									</div>
								</div>
								<div class="box">
									<a class="box-img" href="#">
										<img src="images/img16.jpg" alt=""/>
										<span class="box-title"><span class="box-pad">Шоколадный торт с журнавлиной</span></span>
										<b class="fade"></b>
									</a>
									<div class="box-bot">
										<a href="#" class="num-like">22</a>
										<a href="#" class="num-comm">32</a>
										<a href="#" class="autor"><img src="images/autor.jpg" alt="" class="a-img"/><span class="a-name">Елена Руденко</span></a>
									</div>
								</div>
								<div class="box">
									<a class="box-img" href="#">
										<img src="images/img15.jpg" alt=""/>
										<span class="box-title"><span class="box-pad">Шоколадный торт с журнавлиной</span></span>
										<b class="fade"></b>
									</a>
									<div class="box-bot">
										<a href="#" class="num-like">22</a>
										<a href="#" class="num-comm">32</a>
										<a href="#" class="autor"><img src="images/autor.jpg" alt="" class="a-img"/><span class="a-name">Елена Руденко</span></a>
									</div>
								</div>
								<div class="box">
									<a class="box-img" href="#">
										<img src="images/img16.jpg" alt=""/>
										<span class="box-title"><span class="box-pad">Шоколадный торт с журнавлиной</span></span>
										<b class="fade"></b>
									</a>
									<div class="box-bot">
										<a href="#" class="num-like">22</a>
										<a href="#" class="num-comm">32</a>
										<a href="#" class="autor"><img src="images/autor.jpg" alt="" class="a-img"/><span class="a-name">Елена Руденко</span></a>
									</div>
								</div>
							</div>
							<div class="mk">
								<div class="mk-title">Похожие МК</div>
								<div class="box">
									<a class="box-img" href="#">
										<img src="images/img15.jpg" alt=""/>
										<span class="box-title"><span class="box-pad">Шоколадный торт с журнавлиной</span></span>
										<b class="fade"></b>
									</a>
									<div class="box-bot">
										<a href="#" class="num-like">22</a>
										<a href="#" class="num-comm">32</a>
										<a href="#" class="autor"><img src="images/autor.jpg" alt="" class="a-img"/><span class="a-name">Елена Руденко</span></a>
									</div>
								</div>
								<div class="box">
									<a class="box-img" href="#">
										<img src="images/img16.jpg" alt=""/>
										<span class="box-title"><span class="box-pad">Шоколадный торт с журнавлиной</span></span>
										<b class="fade"></b>
									</a>
									<div class="box-bot">
										<a href="#" class="num-like">22</a>
										<a href="#" class="num-comm">32</a>
										<a href="#" class="autor"><img src="images/autor.jpg" alt="" class="a-img"/><span class="a-name">Елена Руденко</span></a>
									</div>
								</div>
								<div class="box">
									<a class="box-img" href="#">
										<img src="images/img15.jpg" alt=""/>
										<span class="box-title"><span class="box-pad">Шоколадный торт с журнавлиной</span></span>
										<b class="fade"></b>
									</a>
									<div class="box-bot">
										<a href="#" class="num-like">22</a>
										<a href="#" class="num-comm">32</a>
										<a href="#" class="autor"><img src="images/autor.jpg" alt="" class="a-img"/><span class="a-name">Елена Руденко</span></a>
									</div>
								</div>
								<div class="box">
									<a class="box-img" href="#">
										<img src="images/img16.jpg" alt=""/>
										<span class="box-title"><span class="box-pad">Шоколадный торт с журнавлиной</span></span>
										<b class="fade"></b>
									</a>
									<div class="box-bot">
										<a href="#" class="num-like">22</a>
										<a href="#" class="num-comm">32</a>
										<a href="#" class="autor"><img src="images/autor.jpg" alt="" class="a-img"/><span class="a-name">Елена Руденко</span></a>
									</div>
								</div>
							</div>
						</div>
				<div class="clear"></div>
					</div>
				</div>
            </div>	
		<footer id="footer">
				<div id="footer-in">
					<div class="cont-in">
						<div class="bottom">
							<a href="#" class="add-rec"><i>Добавте свой</i><big>Собвственый рецепт</big></a>
							<div class="f-left">
								<nav class="foot-nav">
									<ul>
										<li><a href="#">Рецепты</a></li>
										<li><a href="#">Мастер класы</a></li>
										<li><a href="#">Фотогалерея</a></li>
										<li><a href="#">Конкурсы</a></li>
										<li><a href="#">События</a></li>
										<li><a href="#">Мастера</a></li>
										<li><a href="#">Форум</a></li>
									</ul>
								</nav>
								<div class="soc-icons">
									<a href="#"><img src="images/ico5.png" alt=""/></a>
									<a href="#"><img src="images/ico6.png" alt=""/></a>
									<a href="#"><img src="images/ico7.png" alt=""/></a>
								</div>
								<img src="images/soc.jpg" alt=""/>
							</div>
						</div>
						<ul class="foot-links">
							<li><a href="#">Карта сайта</a></li>
							<li><a href="#">Реклама</a></li>
							<li><a href="#">Обратная</a></li>
						</ul>
						<p>©2003-2013 Кулинарный портал «ПОВАРЫ.ru». Все права сохранены.   </p>
					</div>
				</div>
			</footer>
		</div>
    </body>
</html>


