<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Повара</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cuprum:400,700,700italic&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="./css/main.css" type="text/css"/>
        <link rel="stylesheet" href="./css/scrollable-horizontal.css" type="text/css"/>		
		<link rel="stylesheet" type="text/css" href="css/fancyfields.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/jquery.fancybox-thumbs.css?v=1.0.7" />
		<script type="text/javascript" src="js/jquery-1.8.2.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.10.1.custom.min.js"></script>
		<!--[if lt IE 9]><script src="js/css3-mediaqueries.js"></script><![endif]-->
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<script type="text/javascript" src="http://cdn.jquerytools.org/1.2.7/all/jquery.tools.min.js"></script>	
		<script type="text/javascript" src="js/jquery.tools.min.js"></script>	
		<script type="text/javascript" src="js/fancyfields-1.2.js"></script>		
		<script type="text/javascript" src="js/jquery.fancybox.js"></script>		
		<script type="text/javascript" src="js/jquery.fancybox-thumbs.js?v=1.0.7"></script>
		<script type="text/javascript" src="js/slider.js"></script>
		<script type="text/javascript" src="js/jQuery.dPassword.js"></script>
		<script type="text/javascript" src="js/jquery.jcarousel.js"></script>
		<script src="js/jquery.ui.sortable.js" type="text/javascript"></script>	
		<script src="js/jquery.ui.slider.js" type="text/javascript"></script>		
		<script type="text/javascript" src="js/custom.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function(){
				jQuery( ".sort" ).sortable({ handle: '.move' });
			});
		</script>
    </head>
    <body>
		<div id="container">
			<header id="header">				
				<div class="top-search">
					<a href="#" class="ful-s">Расширенный поиск</a>
					<input type="text" class="s-text"/>
					<input type="submit" value="НАЙТИ" class="s-btn"/>
				</div>
				<div class="top">
					<a href="#" class="tortod">Тортоделы</a>
					<a class="povar" href="#">Повары</a>
					<ul class="tul-right">
						<li class="vhod"><a href="#" >Войти</a></li>
						<li class="regis"><a href="#">Зарегистироватся</a></li>
					</ul>
					<ul class="tul-left">
						<li class="add"><a href="#">Добавить</a>
							<ul>
								<li><a href="#">Рецепт</a></li>
								<li><a href="#">Мастер класс</a></li>
								<li><a href="#">Фото</a></li>
							</ul>
						</li>
					</ul>
					<a href="javascript:void(0)" class="search-link">Поиск</a>
				</div>
				<a href="#" id="logo"></a>
				<nav class="nav">
					<ul class="right">
						<li class="parent">
							<a href="#">Тортоделы</a>
							<ul>
								<li><a href="#">Пункт 1</a></li>
								<li><a href="#">Пункт 2</a></li>
								<li><a href="#">Пункт 3</a></li>
							</ul>
						</li>
						<li><a href="#">Группы</a></li>
						<li><a href="#">Статьи</a></li>
						<li><a href="#">Форум</a></li>
					</ul>
					<ul class="left">
						<li><a href="#">Рецепты</a></li>							
						<li><a href="#">Конкурсы</a></li>
						<li class="parent">
							<a href="#">Пользователи</a>
							<ul>
								<li><a href="#">Пункт 1</a></li>
								<li><a href="#">Пункт 2</a></li>
								<li><a href="#">Пункт 3</a></li>
							</ul>
						</li>
					</ul>
				</nav>	
				<div class="search-div">
					<p>Поиск по рецептам</p>
					<div class="search"><form><span class="s-bg"></span><input type="text" class="search-text"/><input type="submit" class="search-btn" value=""/></form></div>
					<a href="#">Расширеный поиск</a>
				</div>
				<div class="links">
						<a href="#"><img src="images/home.png" alt=""/></a> → 
						<a href="#">Конкурсы</a>
					</div>				
			</header>
			<div id="wrapper">
				<div class="content">					
					<div class="zayavka-mess">
						<h1>Заявка на участие в конкурсе</h1>
						<div class="application">
							<div class="recipe-block">
								<div class="block-title">
									Конкурс на лучший рецепт к новогоднему столу
								</div>
								<div class="col-right">
									<div class="form-row">
										<label>Название рецепта<span>*</span></label>
										<input type="text" class="input-text" placeholder=""/>
										<div class="ok"></div>
										<div class="clear"></div>
									</div>
									<div class="form-row">
										<label>Краткое описание</label>
										<textarea class="textarea shot-area"></textarea>
										<div class="info-div">Правильное название не только отображает суть, но и даст больше шансов на рейтиг 		улучшить сложное</div>
										<div class="clear"></div>
									</div>
									<div class="form-row">
										<label>Ингредиенты</label>
										<div class="sort">
											<div class="change-block"><span class="move"></span><input type="text" class="input-text" value="Морковка"/></div>
											<a class="add-link" id="adding">Добавить еще один ингредиент</a>
										</div>
										<div class="clear"></div>
									</div>
									<div class="form-row">
										<label>Основной текст рецепта</label>
										<textarea class="textarea textarea2"></textarea>
										<div class="clear"></div>
									</div>
									<div class="form-row">
										<div class="block-checkbox-in"><input type="checkbox"/><label>Скрыть мою работу </label><span>( Ваша работа будет отображаться тогда когда начнется голосование )</span></div>
										<div class="block-checkbox-in"><input type="checkbox"/><label>Скрыть мое имя </label><span>( Имя будет показано после закрытия голосования )</span></div>
										<div class="clear"></div>
									</div>
									<input type="submit" class="submit" value="Отправить заявку"/>
								</div>
								<div class="col-left">
									<div class="fot-h">Титульное изображение</div>
									<a href="#" class="big-foto"></a>
									<div class="block-foto">
										<div class="fot-h">Дополнительные изображения</div>
										<a href="#" class="mini-foto"></a>
										<a href="#" class="mini-foto"></a>
										<a href="#" class="mini-foto"></a>
										<a href="#" class="mini-foto"></a>
										<a href="#" class="mini-foto"></a>
										<a href="#" class="mini-foto"></a>
									</div>
								</div>
								<div class="clear"></div>
							</div>	
						</div>
					</div>
				</div>
			</div>			
		</div>
		<footer id="footer">
				<div id="footer-in">
					<div class="cont-in">
						<div class="bottom">
							<a href="#" class="add-rec"><i>Добавте свой</i><big>Собвственый рецепт</big></a>
							<div class="f-left">
								<nav class="foot-nav">
									<ul>
										<li><a href="#">Рецепты</a></li>
										<li><a href="#">Конкурсы</a></li>
										<li><a href="#">Пользователи</a></li>
										<li><a href="#">Тортоделы</a></li>
										<li><a href="#">Статьи</a></li>
										<li><a href="#">Группы</a></li>
										<li><a href="#">Форум</a></li>
									</ul>
								</nav>
								<div class="soc-icons">
									<a href="#" class="s1"></a>
									<a href="#" class="s2"></a>
									<a href="#" class="s3"></a>
								</div>
								<img src="images/soc.jpg" alt=""/>
							</div>
						</div>
						<ul class="foot-links">
							<li><a href="#">Карта сайта</a></li>
							<li><a href="#">Реклама</a></li>
							<li><a href="#">Обратная</a></li>
						</ul>
						<p>©2003-2013 Кулинарный портал «ПОВАРЫ.ru». Все права сохранены.   </p>
					</div>
				</div>
			</footer>
    </body>
</html>


