<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Повара</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cuprum:400,700,700italic&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="./css/main.css" type="text/css"/>
        <link rel="stylesheet" href="./css/scrollable-horizontal.css" type="text/css"/>		
		<link rel="stylesheet" type="text/css" href="css/fancyfields.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/jquery.fancybox-thumbs.css?v=1.0.7" />
		<script type="text/javascript" src="js/jquery-1.8.2.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.10.1.custom.min.js"></script>
		<!--[if lt IE 9]><script src="js/css3-mediaqueries.js"></script><![endif]-->
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<script type="text/javascript" src="http://cdn.jquerytools.org/1.2.7/all/jquery.tools.min.js"></script>	
		<script type="text/javascript" src="js/fancyfields-1.2.js"></script>		
		<script type="text/javascript" src="js/jquery.fancybox.js"></script>		
		<script type="text/javascript" src="js/jquery.fancybox-thumbs.js?v=1.0.7"></script>
		<script type="text/javascript" src="js/slider.js"></script>
		<script type="text/javascript" src="js/jQuery.dPassword.js"></script>
		<script type="text/javascript" src="js/jquery.jcarousel.js"></script>
		<script src="js/jquery.ui.sortable.js" type="text/javascript"></script>	
		<script src="js/jquery.ui.slider.js" type="text/javascript"></script>		
		<script type="text/javascript" src="js/custom.js"></script>
    </head>
    <body>
		<div id="container">
			<header id="header">				
				<div class="top-search">
					<a href="#" class="ful-s">Расширенный поиск</a>
					<input type="text" class="s-text"/>
					<input type="submit" value="НАЙТИ" class="s-btn"/>
				</div>
				<div class="top">
					<a href="#" class="tortod">Тортоделы</a>
					<a class="povar" href="#">Повары</a>
					<ul class="tul-right">
						<li class="vhod"><a href="#" >Войти</a></li>
						<li class="regis"><a href="#">Зарегистироватся</a></li>
					</ul>
					<ul class="tul-left">
						<li class="add"><a href="#">Добавить</a>
							<ul>
								<li><a href="#">Рецепт</a></li>
								<li><a href="#">Мастер класс</a></li>
								<li><a href="#">Фото</a></li>
							</ul>
						</li>
					</ul>
					<a href="javascript:void(0)" class="search-link">Поиск</a>
				</div>
				<a href="#" id="logo"></a>
				<nav class="nav">
					<ul class="right">
						<li class="parent">
							<a href="#">Тортоделы</a>
							<ul>
								<li><a href="#">Пункт 1</a></li>
								<li><a href="#">Пункт 2</a></li>
								<li><a href="#">Пункт 3</a></li>
							</ul>
						</li>
						<li><a href="#">Группы</a></li>
						<li><a href="#">Статьи</a></li>
						<li><a href="#">Форум</a></li>
					</ul>
					<ul class="left">
						<li><a href="#">Рецепты</a></li>							
						<li><a href="#">Конкурсы</a></li>
						<li class="parent">
							<a href="#">Пользователи</a>
							<ul>
								<li><a href="#">Пункт 1</a></li>
								<li><a href="#">Пункт 2</a></li>
								<li><a href="#">Пункт 3</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<div class="links">
						<a href="#"><img src="images/home.png" alt=""/></a> → 
						<a href="#">Личный кабинет</a>
					</div>
			</header>
			<div id="wrapper">
				<div class="content">					
					<h1>Личный кабинет</h1>
					<br/>
					<div class="center-block">
						<div class="" id="main1">
							<ul class="tabs">
								<li><a href="#"><span>Коробка рецептов</span></a></li>
								<li><a href="#"><span>Комментарии мне</span></a></li>
								<li><a href="#"><span>Следуют</span></a></li>
								<li><a href="#"><span>Личные сообщения</span></a></li>
								<li><a href="#"><span>Изменить профайл</span></a></li>
								<li><a href="#"><span>Настройки</span></a></li>
							</ul>
							<div class="panes">
								<div>
									<div class="h1">Личные сообщения</div>
									<div class="theme-block">
										<a href="#" class="back-link">Назад</a>
										<h2>Тема сообщения</h2>
										<div class="theme-block-in">
											<div class="foto-block">
												<div class="foto">
													<a href="#"><img src="images/autor6.jpg" alt=""/></a>
												</div>
												<div class="inline">В сети</div>
											</div>
											<div class="text-block">
												<a href="#" class="name">Мария Петровна</a>
												<p>Рассказывают, что однажды Конфуций отправился повидаться с Лао-цзы. Он был намного старше и, конечно, рассчитывал, что Лао-цзы будет вести себя по отношению к нему с должным почтением. Когда он вошёл в комнату, где сидел в молчании Лао-цзы, тот не встал и вообще не обратил на него особого внимания. Он даже не предложил сесть! Конфуций был шокирован таким приёмом. С негодованием</p>
												<div class="date">вчера в 15:11</div>
											</div>
										</div>
										<div class="theme-block-in">
											<div class="foto-block">
												<div class="foto">
													<a href="#"><img src="images/autor6.jpg" alt=""/></a>
												</div>
												<div class="inline">В сети</div>
											</div>
											<div class="text-block">
												<a href="#" class="name">Мария Петровна</a>
												<p>Рассказывают, что однажды Конфуций отправился повидаться с Лао-цзы. Он был намного старше и, конечно, рассчитывал, что Лао-цзы будет вести себя по отношению к нему с должным почтением. Когда он вошёл в комнату, где сидел в молчании Лао-цзы, тот не встал и вообще не обратил на него особого внимания. Он даже не предложил сесть! Конфуций был шокирован таким приёмом. С негодованием</p>
												<div class="date">вчера в 15:11</div>
											</div>
										</div>
										<div class="theme-block-in">
											<div class="foto-block">
												<div class="foto">
													<a href="#"><img src="images/autor6.jpg" alt=""/></a>
												</div>
												<div class="inline">В сети</div>
											</div>
											<div class="text-block">
												<a href="#" class="name">Мария Петровна</a>
												<p>Рассказывают, что однажды Конфуций отправился повидаться с Лао-цзы. Он был намного старше и, конечно, рассчитывал, что Лао-цзы будет вести себя по отношению к нему с должным почтением. Когда он вошёл в комнату, где сидел в молчании Лао-цзы, тот не встал и вообще не обратил на него особого внимания. Он даже не предложил сесть! Конфуций был шокирован таким приёмом. С негодованием</p>
												<div class="date">вчера в 15:11</div>
											</div>
										</div>
										<div class="pagenavi">
											<a href="#">1</a>
											<a href="#">2</a>
											<span class="current">3</span>
											<a href="#">4</a>
											<a href="#">5</a>
											<a href="#">6</a>
											<a href="#">7</a>
											<a href="#">8</a>
											<a href="#"><img src="images/arr-next.jpg" alt=""/></a>
										</div>
										<div class="gray-block mess-form">
											<form>
												<div class="form-row">
													<label>
														<i>Сообщение</i>
													</label>
													<textarea class="textarea"></textarea>
												</div>
												<input type="submit" class="submit" value="Отправить"/>
											</form>
										</div>
									</div>
								</div>								
							</div>
						</div>
					</div>
					<div class="left-block">						
						<div class="main-photo"><img src="images/img5.jpg" alt=""/><a href="#">Загрузить новое фото</a></div>
						<a href="#" class="pers-link">Ваша персональная страница</a>
						<a href="#" class="submit submit-wide">Добавить рецепт</a>
						<a href="#" class="submit submit-wide">Добавить мастер-класс</a>
						<div class="side-block">
							<div class="side-title"><a href="#" class="f-right">432</a><h4>За мной следуют</h4></div>
							<div class="side-photos">
								<a href="#"><img src="images/autor.jpg" alt=""/></a>
								<a href="#"><img src="images/autor2.jpg" alt=""/></a>
								<a href="#"><img src="images/autor3.jpg" alt=""/></a>
								<a href="#"><img src="images/autor4.jpg" alt=""/></a>
							</div>
						</div>
						<div class="side-block">
							<div class="side-title"><a href="#" class="f-right">234</a><h4>За кем я следую</h4></div>
							<div class="side-photos">
								<a href="#"><img src="images/img5.jpg" alt=""/></a>
								<a href="#"><img src="images/img6.jpg" alt=""/></a>
								<a href="#"><img src="images/img7.jpg" alt=""/></a>
								<a href="#"><img src="images/img8.jpg" alt=""/></a>
							</div>
						</div>
						<div class="side-block">
							<div class="side-title"><a href="#" class="f-right">126</a><h4>Мои рецепты</h4></div>
							<div class="myrec">
								<a href="#" class="rec-img"><img src="images/img1.jpg" alt=""/></a>
								<div class="rec-title">
									<a href="#">Запеченные грибы с прорезями и луком</a>
									<span class="num-like"><big>12</big></span>
									<span class="num-comm"><big>18</big></span>
									<span class="num-plus"><big>18</big></span>
								</div>
							</div>
							<div class="myrec">
								<a href="#" class="rec-img"><img src="images/img1.jpg" alt=""/></a>
								<div class="rec-title">
									<a href="#">Запеченные грибы с прорезями и луком</a>
									<span class="num-like"><big>12</big></span>
									<span class="num-comm"><big>18</big></span>
									<span class="num-plus"><big>18</big></span>
								</div>
							</div>
							<div class="myrec">
								<a href="#" class="rec-img"><img src="images/img1.jpg" alt=""/></a>
								<div class="rec-title">
									<a href="#">Запеченные грибы с прорезями и луком</a>
									<span class="num-like"><big>12</big></span>
									<span class="num-comm"><big>18</big></span>
									<span class="num-plus"><big>18</big></span>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>			
		</div>
		<footer id="footer">
				<div id="footer-in">
					<div class="cont-in">
						<div class="bottom">
							<a href="#" class="add-rec"><i>Добавте свой</i><big>Собственый рецепт</big></a>
							<div class="f-left">
								<nav class="foot-nav">
									<ul>
										<li><a href="#">Рецепты</a></li>
										<li><a href="#">Конкурсы</a></li>
										<li><a href="#">Пользователи</a></li>
										<li><a href="#">Тортоделы</a></li>
										<li><a href="#">Статьи</a></li>
										<li><a href="#">Группы</a></li>
										<li><a href="#">Форум</a></li>
									</ul>
								</nav>
								<div class="soc-icons">
									<a href="#" class="s1"></a>
									<a href="#" class="s2"></a>
									<a href="#" class="s3"></a>
								</div>
								<img src="images/soc.jpg" alt=""/>
							</div>
						</div>
						<ul class="foot-links">
							<li><a href="#">Карта сайта</a></li>
							<li><a href="#">Реклама</a></li>
							<li><a href="#">Обратная</a></li>
						</ul>
						<p>©2003-2013 Кулинарный портал «ПОВАРЫ.ru». Все права сохранены.   </p>
					</div>
				</div>
			</footer>
    </body>
</html>


